{% extends 'base.html' %}
{% block content %}
<style>
     h2{
        color:crimson;
  }

</style>

<center>
    <u><h2> "Your Care,Our Responsibility "</h2></u>
.<br>
.<br>
.<br>


<h3>{{ hospital.name }}</h3>
<img src="{{ hospital.image.url }}" alt="{{ hospital.name }}" width="500">
<p class="card-title"><b>Contact: </b>{{ hospital.contact_number }}</p>
<p><b>About:</b>{{ hospital.description }}</p>
.

<h3>Doctors:</h3>

    {% for doctor in hospital.doctors.all %}
    <div class="col-md-4 mb-4">
      <div class="card">
        <img src="{{doctor.image.url }}" alt="{{ doctor.name }}" width="200">
        <div class="card-body">
        <h4 class="card-title">{{ doctor.name }}</h4>
        <p class="card-title"><b>Specialization: </b>{{ doctor.specialization }}</p>
        <p class="card-title"><b>Contact: </b>{{ doctor.contact_number }}</p>
        </div>
      </div>
    </div>

    {% endfor %}
 
    <div>
    --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
    </div>
<style>
    h3{
        background-color:whitesmoke;
    }
    .card{
        background-color:whitesmoke;
    }
</style>

    <div class="col-md-4 mb-4"></div>
    <div class="card">
        <div class="card-body">
<h3>Make an Appointment</h3>
<form method="post" action="{% url 'make_appointment' hospital.id %}">
    {% csrf_token %}
    <label for="patient_name"><b>Patient Name: </b></label>
    <input type="text" id="patient_name" name="patient_name" required><br>
    <label for="patient_contact"><b>Contact: </b></label>
    <input type="text" id="patient_contact" name="patient_contact" required><br>
    <label for="appointment_date"><b>Date: </b></label>
    <input type="date" id="appointment_date" name="appointment_date" required><br>
    <label for="appointment_time"><b>Time: </b></label>
    <input type="time" id="appointment_time" name="appointment_time" required><br>
    <button type="submit">Book Appointment</button>
    </form>
    </div>
</center>
{% endblock %}
